
@{
    ViewBag.Title = "Index";
}

<h2>Game</h2>

<button type="button" class="createButton btn btn-primary">Start game</button>

<div id="createOrEdit">
    @Html.Partial("Partial/EditPartialView", new ExamChess.ViewModels.GameViewModel())
</div>

<div id="chessBoard">
    @Html.Partial("Partial/GameBoardPartialView", ViewBag.Game as ExamChess.ViewModels.GameViewModel)
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(".createButton").click(() => {
            $.ajax({
                url: '@Url.Action("Create")',
                method: 'GET',
                success: function (data) {
                    $("#createOrEdit").html(data);
                    $("#modal").modal("show");
                }
            })
        })
</script>
