<div id="gameIndex">
    @{
        ViewBag.Title = "Index";
    }

    <h2>Game</h2>

    <button type="button" class="createButton btn btn-primary">Start game</button>

    <div id="createOrEdit">
        @Html.Partial("Partial/EditPartialView", new ExamChess.ViewModels.GameViewModel())
    </div>

    <div id="chessBoard">
        @Html.Partial("Partial/GameBoardPartialView", ViewBag.Game as ExamChess.ViewModels.GameViewModel)
    </div>

    <div id="wait">
        <div id="modalWait" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div style="margin: 0 auto;">Waiting for the opponent</div>
                    <div class="modal-footer">
                        <button id="cancel" type="button" class="btn btn-secondary">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>*@
<script type="text/javascript">
    $(".createButton").click(() => {
            $.ajax({
                url: '@Url.Action("Create")',
                method: 'GET',
                success: function (data) {
                    jQuery.noConflict();
                    $("#createOrEdit").html(data);
                    $("#modalCreate").modal("show");
                }
            })
    })
</script>
